.LoginLayout {
  box-sizing: border-box;
  background: #3f51b5;
  color: #fff;
  height: 44px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}

.LoginLayout span {
  line-height: 2.5;
  font-weight: 500;
}

.LoginLayout img {
  height: 24px;
}